@page "/"
@using BlazorTicketsApp.Services
@using Shared.Models
@inject ITicketService ticketService
@inject ITagService tagService
@inject IResponseService responseService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
	private List<TicketModel> allTickets;
	private List<TagModel> allTags;
	private List<ResponseModel> allResponses;
	protected override async Task OnInitializedAsync()
	{
		allTickets = await ticketService.GetAllTicketsAsync();
		allTags = await tagService.GetAllTagsAsync();
		allResponses = await responseService.GetAllResponsesAsync();
	}
}