@page "/"
@using BlazorTicketsApp.Services
@using Shared.Models
@inject ITicketService ticketService
@inject ITagService tagService
@inject IResponseService responseService

<PageTitle>Home</PageTitle>
@* 
<h1>Ticket!</h1>


<EditForm Model="newTicket" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="newTicket.SubmittedBy" placeholder="Submitted by"></InputText>
    <InputText @bind-Value="newTicket.Title" placeholder="Title"></InputText>
    <InputText @bind-Value="newTicket.Description" placeholder="Description"></InputText>

    <br />
    <input class="btn btn-primary" type="submit" value="Submit">
    <br />
    <br />
    <label>Solved?</label>
    <br />
    <InputCheckbox @bind-Value="newTicket.IsResolved"/>
    <h6>Subject</h6>
    <InputSelect @bind-Value="newTicket.TicketTags" placeholder="Subject" >
        @foreach (var tag in Enum.GetValues(typeof(EnumTag)))
        {
            <option value="@tag">@tag</option>
        }
    </InputSelect>
</EditForm> *@



@code {
    private TagModel newTag;
    protected override async Task OnInitializedAsync()
    {
        newTag = new()
            {
                Name = "C#"
            };
            bool isSuccessfullyUpdated = await tagService.AddTagAsync(newTag);
    }
}

